@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

* {
  position: relative;
  font-family: "Hind Vadodara", sans-serif, 微軟正黑體;
}

.daybox {
  width: 50%;
  max-width: 400px;
  background-color: #f3f3f3;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.daybox:hover .bottom {
  height: 100px;
}
.daybox:hover .bottom .dayweather {
  opacity: 1;
  top: 0px;
}

.top {
  height: 330px;
  background: linear-gradient(20deg, #19283D, #1D678F);
  background-size: 100% 300%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  animation: daylight 5s infinite both;
}
@keyframes daylight {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
.top .text_area {
  color: #f3f3f3;
}
.top .text_area .infos {
  color: rgba(255, 255, 255, 0.4);
}
.top .pic1 {
  width: 100%;
}
.top .pic1 circle {
  stroke: white;
  fill: white;
  opacity: 0;
}
.top .pic1 polyline {
  stroke: white;
  stroke-width: 1px;
  fill: none;
  opacity: 0;
}
.top .pic1 text {
  stroke: white;
  font-weight: 1;
  fill: white;
  transform: translateX(-10px) translateY(20px);
  font-size: 10px;
  opacity: 0;
}
.top .moon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 80px;
  left: 40px;
  border-radius: 100%;
  box-shadow: 10px -10px;
  animation: moonmove 10s infinite;
}
@keyframes moonmove {
  0% {
    box-shadow: 10px -10px #FFD633;
    transform: translateX(-10px) translateY(10px);
  }
  50% {
    box-shadow: -10px 20px #FFD633;
    transform: translateX(10px) translateY(-20px);
  }
  100% {
    box-shadow: 10px -10px #FFD633;
    transform: translateX(-10px) translateY(10px);
  }
}
.top .cloud {
  width: 100px;
  height: 36px;
  background-color: #f3f3f3;
  position: absolute;
  left: 200px;
  bottom: 40px;
  border-radius: 20px;
  animation: clouddrift 4s infinite;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.top .cloud:before, .top .cloud:after {
  background-color: #f3f3f3;
  display: block;
  content: " ";
  width: 50px;
  height: 50px;
  position: absolute;
}
.top .cloud:before {
  left: 15px;
  top: -35px;
  border-radius: 100%;
}
.top .cloud:after {
  left: 35px;
  top: -20px;
  border-radius: 100%;
}
@keyframes clouddrift {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.top .cloud .rain {
  width: 2px;
  height: 10px;
  background-color: #f3f3f3;
  position: absolute;
  left: 50px;
  bottom: 15px;
  animation: raindrop 1s infinite linear;
}
.top .cloud .rain2 {
  left: 70px;
  bottom: 20px;
  animation-delay: -0.4s;
}
.top .cloud .rain3 {
  left: 30px;
  bottom: 20px;
  animation-delay: -0.7s;
}
@keyframes raindrop {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

.bottom {
  height: 10px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1.5s;
}
.bottom .dayweather {
  display: inline-block;
  text-align: center;
  width: calc( 100% / 7 - 5px);
  opacity: 0;
  top: 20px;
  transition: 0.5s;
}
.bottom .dayweather h3 {
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 2px;
  color: rgba(51, 51, 51, 0.4);
}
.bottom .dayweather svg {
  width: 100%;
  height: 30px;
  max-width: 40px;
}
.bottom .dayweather svg .sun {
  fill: #FFD633;
  stroke: #FFD633;
  stroke-width: 25px;
  stroke-dasharray: 5px;
}
.bottom .dayweather svg .cloud {
  animation: clouddrift 4s infinite;
  fill: #ccc;
}
.bottom .dayweather svg .rain {
  stroke: #4DACFF;
  stroke-width: 5px;
  animation: raindrop 1s infinite linear;
}

.text_area {
  display: inline-block;
  position: absolute;
  bottom: 25px;
  left: 25px;
}
.text_area .temperature {
  font-size: 70px;
  line-height: 80px;
}
.text_area .infos {
  font-size: 10px;
}

.moon, .cloud {
  transition-duration: 0.5s;
}

.pic1 circle {
  transition-duration: 0.5s;
}
.pic1 polyline {
  transition-duration: 0.5s 0.5s;
}
.pic1 text {
  transition: 0.5s 2s;
}

#check1 {
  display: none;
}

#check1:checked + .top .moon, #check1:checked + .top .cloud {
  opacity: 0.4;
}
#check1:checked + .top .pic1 circle, #check1:checked + .top .pic1 polyline, #check1:checked + .top .pic1 text {
  opacity: 1;
}